# =================================================================
# Datacollector configuration
# =================================================================

# MQTT URL
MQTT_URL=tcp://mosquitto:1883

# MQTT username for the datacollector, leave this setting empty if mosquitto
# allows anonymous access.
# Note that this setting is used in the datacollector only. You still have
# to add the user/password to your MQTT broker. For mosquitto, take a look at the
# "Authentication" section in https://mosquitto.org/man/mosquitto-conf-5.html
# in order to get an idea how to do that.
MQTT_USER=

# MQTT username for the datacollector, leave this setting empty if mosquitto
# allows anonymous access.
# Note that this setting is used in the datacollector only. You still have
# to add the user/password to your MQTT broker. For mosquitto, take a look at the
# "Authentication" section in https://mosquitto.org/man/mosquitto-conf-5.html
# in order to get an idea how to do that.
MQTT_PASSWORD=

# MQTT topic to collect SBS flightdata from
MQTT_FLIGHTDATA_TOPIC=

# =================================================================
# PostgreSQL configuration
# =================================================================

# PostgreSQL JDBC URL, where the data is stored to
POSTGRES_URL=jdbc:postgresql://postgres:5432/flightdata

# PostgreSQL database name
POSTGRES_DB=flightdata

# PostgreSQL database user
POSTGRES_USER=flightdata

# PostgreSQL database password
POSTGRES_PASSWORD=__YOUR_PASSWORD__

# =================================================================
# docker-compose configuration
# =================================================================

# The port for MQTT exposed by its Docker container
EXPOSED_MQTT_PORT=1883

# The port for INTEGRATOR REST endpoint exposed by its Docker container
EXPOSED_DATACOLLECTOR_REST_PORT=8080

# The port for INTEGRATOR Websocket endpoint exposed by its Docker container
EXPOSED_DATACOLLECTOR_WEBSOCKET_PORT=8081

# The port for POSTGRES exposed by its Docker container
EXPOSED_POSTGRES_PORT=5432
