# This is an example environment file that allows anonymous access
# to the MQTT broker.
# Take a look at the provided "env.-with-auth.example" file if you
# want to use mosquitto with authentication.
#
# Copy the contents of this file to a file named ".env" and set there
# your settings as necessary, e.g. "cp env.example .env".
#
# The ".env" file will be used by docker-compose to set environment
# variables for the containers.

# =================================================================
# MQTT configuration (mosquitto is used, see https://mosquitto.org/)
# =================================================================

# mosquitto configuration file to use. The default mosquitto.conf below
# starts a mosquitto instance on port 1883 with anonymous access
MOSQUITTO_CONF=./docker/mosquitto/mosquitto.conf

# Directory with additional configuration files for mosquitto. For more
# information, take a look at "include_dir" in
# https://mosquitto.org/man/mosquitto-conf-5.html
MOSQUITTO_INCLUDE_DIR=./docker/mosquitto/conf.d

# =================================================================
# Integrator configuration
# =================================================================

# MQTT URL
INTEGRATOR_MQTT_URL=tcp://mosquitto:1883

# MQTT username for the integrator, leave this setting empty if mosquitto
# allows anonymous access.
# Note that this setting is used in the integrator only. You still have
# to add the user/password to your MQTT broker. For mosquitto, take a look at the
# "Authentication" section in https://mosquitto.org/man/mosquitto-conf-5.html
# in order to get an idea how to do that.
INTEGRATOR_MQTT_USER=

# MQTT username for the integrator, leave this setting empty if mosquitto
# allows anonymous access.
# Note that this setting is used in the integrator only. You still have
# to add the user/password to your MQTT broker. For mosquitto, take a look at the
# "Authentication" section in https://mosquitto.org/man/mosquitto-conf-5.html
# in order to get an idea how to do that.
INTEGRATOR_MQTT_PASS=

# =================================================================
# PostgreSQL configuration
# =================================================================

# PostgreSQL JDBC URL, where the data is stored to
POSTGRES_JDBC_URL=jdbc:postgresql://postgres:5432/flightdata

# PostgreSQL database name
POSTGRES_DB=flightdata

# PostgreSQL database user
POSTGRES_USER=flightdata

# PostgreSQL database password
POSTGRES_PASSWORD=__YOUR_PASSWORD__